@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0 0;
    padding: 0 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

::selection{
    color: cornflowerblue;
}


@media screen and (min-width: 320px) and (max-width:468px) {
    .input-container{
        top: 5rem;
        right: 1rem;
    }

    .input-form{
        display: flex;
        flex-direction: column;
    }

    .input-text{
        height: 2.5rem;
    }

    .input-button{
        height: 2rem;
    }

    .Card{
        height: 11rem;
        width: 9rem;
    }

    .Card-display{
        display: grid;
        padding: 0 0;
        grid-template-rows: repeat(8, minmax(0, 1fr));;
        grid-template-columns: repeat(2, minmax(0, 1fr));;
    }

    .Card-display-wrapper{
        padding: 0 0;
        display: grid;
    }

    .card-info{
        font-size: 13px;
    }
}


@media screen and (min-width: 768px) and (max-width:850px) {
    .input-container{
        top: 5rem;
        right: 1rem;
    }

    .input-form{
        display: flex;
        flex-direction: column;
    }

    .input-text{
        height: 2.5rem;
    }

    .input-button{
        height: 2rem;
    }

    .Card{
        height: 14rem;
        width: 12rem;
    }

    .Card-display{
        display: grid;
        padding: 0 0;
        grid-template-rows: repeat(8, minmax(0, 1fr));;
        grid-template-columns: repeat(3, minmax(0, 1fr));;
    }

    .Card-display-wrapper{
        padding: 0 0;
        display: grid;
    }

    .card-info{
        font-size: 13px;
    }
}


@media screen and (min-width: 1024px) and (max-width: 1200px) {
    .input-container{
        top: 5rem;
        right: 1rem;
    }

    
    .Card{
        height: 14rem;
        width: 12rem;
    }

    .Card-display{
        display: grid;
        padding: 0 0;
        grid-template-rows: repeat(7, minmax(0, 1fr));;
        grid-template-columns: repeat(3, minmax(0, 1fr));;
    }

    .Card-display-wrapper{
        padding: 0 0;
        display: grid;
    }

    .card-info{
        font-size: 15px;
    }
}